.container-form-admin {
    displayFG(flex, center, center);
    height: 100vh;
    width: 100%;

    .form-admin__items {
        displayFG(flex, space-between, center);
        width: 100%;

        @media (max-width: 768px) {
            flex-direction: column;
        }

        .table-add-items, .form-add-items {
            width: (100% / 2) - 5rem;
            // flex-direction: column;
        }

        .form-add-items {
            displayFG(flex, space-around, center);

            @media (max-width: 768px) {
                flex-direction: column;
            }

            .form-add__label-img {
                svg {
                    fill: blue_trhee;
                    width: 15rem;
                    height: 15rem;
                }
            }

            .form-add__input-img {
                display: none;
            }

            .form-section__two {
                .form-add__label-category, .form-add__label-title, .form-add__label-textarea {
                    text-transform: capitalize;
                    margin-bottom: 0.5rem;
                    display: block;
                }

                .form-add__textarea, .form-add__input-title, .form-add__category {
                    display: block;
                    border-radius: 1rem;
                    padding: 0.5rem 1rem;
                    border: 1px solid pinkred_car;
                    margin-bottom: 1rem;
                    width: 100%;
                }
            }
        }

        .table-add-items {
            padding: 1rem;
            border-radius: 1rem;
            text-align: center;
            height: 10rem;

            .table-row__thead {
                text-transform: uppercase;
            }

            .table-row__tbody {
                overflow: scroll;
                height: 100%
                text-transform: capitalize;
                .btn-item__list{
                    height: 3rem
                    cursor pointer
                    a{
                        color: white;
                    }
                }
            }
        }
    }
}

.cont-form-edit-admin{
    width 100%
    .form-edit-admin{
        displayFG(flex, space-evenly, center);
    }
    .camp-btn{
        border: none
        cursor pointer
    }
}

// textarea edit desing UI
.camp-cont{
    margin-top: 1rem;
    .camp-label{
        display: block;
        text-transform: capitalize;
        margin-bottom: 0.8rem;
        text-transform: centuryGothicBold;
    }
    .camp-textarea{
        border-radius: 1rem;
        border: 1px solid pinkred_car
        outline: none;
        padding: 1rem;
        display: block;
    }
}