.ani-menu__full-screen {
    width: 100% !important;
    height: 100vh !important;
    border-radius: 0% !important;
    top: 0rem !important;
    right: 0rem !important;
}

.none {
    display: none;
}

.block {
    display: block !important;
    opacity: 1 !important;
}

.list-menu {
    opacity: 1 !important;
    display: block !important;
}

.menu-despliegue {
    width: 25rem !important;
    border-bottom-left-radius: 0% !important;
    border-top-right-radius: 5rem !important;
    border-bottom-right-radius: 5rem !important;
}
// animacion de botones
.btn-animation{
    
}