.father-login {
    displayFG(flex, center, center);
    height: 100vh;
    width: 100%;

    .login-cont {
        padding: 2rem;
        border-radius: 1rem;
        border-top-left-radius: 10rem;
        border-top-right-radius: 10rem;

        .center-auto {
            displayFG(flex, center, center);
            margin-bottom: 2rem;

            .login-img {
                width: 7rem;
                height: 10rem;
            }
        }

        .login-title {
            text-align: center;
            font-family: centuryGothicBold;
            text-transform: uppercase;
            font-size: 2rem;
            margin: 0rem;
            margin-bottom: 1rem;
            color: pink_car;
        }

        .form-login-panel {
            label, input {
                display: block;
                font-size: 1.2rem;
                margin-bottom: 1rem;
            }

            label {
                margin-bottom: 0.5rem;
                text-transform: capitalize;
                font-family: centuryGothicBold;
                color: pinkred_car;
            }

            input {
                border-radius: 1rem;
                border: 1px solid blue_dark;
                padding: 0.3rem 1rem;
            }

            .cont-center {
                displayFG(flex, center, center);

                button {
                    margin: 0 auto;
                }
            }
        }
    }
}